/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/

body {
  font-family: "Brandon Grotesque","brandon-grotesque", sans-serif;
}

img.logo {
  background-color: transparent !important;
  /* background-color: white; */
  border: none !important;
  margin: 0px !important;
}

.reveal pre code {
	max-height: none;
}

iframe {
	overflow: hidden;
}