/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/

body {
  font-family: "brandon-grotesque","Brandon Grotesque",sans-serif;
}

h3 {
	font-family: "brandon-grotesque","Brandon Grotesque",sans-serif;
}

img.logo {
  background-color: transparent !important;
  /* background-color: white; */
  border: none !important;
  margin: 0px !important;
}

.reveal pre code {
	max-height: none;
}

iframe {
	overflow: hidden;
}

nav ul {
	list-style: none; 
  overflow: hidden; 
  position: relative;
}

nav ul li {
  float: left; 
  margin: 0 20px 0 0;
}

nav ul li a {
  display: block; 
  width: 120px; 
  height: 120px;
  background-repeat: no-repeat;
}

/* Our Stylists Suggest */
nav ul li:nth-child(1) a {
  background-image: url('../images/icons/team.png');
  background-position: center;
  background-size: 60% auto;
  background-color: #999999;
  background-color: rgba(167, 170, 169, 0.50);
  border-radius: 20px;
  opacity: 0.70;
}

/* Our Stylists Suggest */
nav ul li:nth-child(2) a {
  background-image: url('../images/icons/bag.png');
  background-position: center;
  background-size: 60% auto;
  background-color: rgba(167, 170, 169, 0.50);
  border-radius: 20px;
  opacity: 0.70;
}

/* My Color Trends */
nav ul li:nth-child(3) a {
  background-image: url('../images/icons/color.png');
  background-position: center;
  background-size: 60% auto;
  background-color: rgba(167, 170, 169, 0.50);
  border-radius: 20px;
  opacity: 0.70;
}

/* Returns */
nav ul li:nth-child(4) a {
  background-image: url('../images/icons/receipt.png');
  background-position: center;
  background-size: 60% auto;
  background-color: rgba(167, 170, 169, 0.50);
  border-radius: 20px;
  opacity: 0.70;
}

/* Fulfillment */
nav ul li:nth-child(5) a {
  background-image: url('../images/icons/fulfillment.png');
  background-position: center;
  background-size: 60% auto;
  background-color: rgba(167, 170, 169, 0.50);
  border-radius: 20px;
  opacity: 0.70;
}

/* Segmento */
nav ul li:nth-child(6) a {
  background-image: url('../images/icons/segment.png');
  background-position: center;
  background-size: 80% auto;
  background-color: rgba(167, 170, 169, 0.50);
  border-radius: 20px;
  opacity: 0.70;
}
		
nav ul li a span {
  font-family: "brandon-grotesque", "Brandon Grotesque", sans-serif;
	font: 30px "Brandon Grotesque", sans-serif; 
	position: absolute; 
  left: 880px; 
  top: 29px;
	display: none;
}

nav ul li a:hover span {
  display: block;
}

nav ul li:nth-child(1) a span {
  color: #000000;
}

nav ul li:nth-child(2) a span {
  color: #000000;
}

nav ul li:nth-child(3) a span {
  color: #000000;
}

nav ul li:nth-child(4) a span {
  color: #000000;
}

nav ul li:nth-child(5) a span {
  color: #000000;
}

nav ul li:nth-child(6) a span {
  color: #000000;
}




